*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 20px;
}
.container{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
iframe{
    width: 80%;
    height: 500px;
}